@font-face {
	font-family: Frizz Quadrata;
	src: url(../fonts/frizzquadratatt.ttf);

}
@font-face {
	font-family: Fantasque Sans Mono;
	src: url(../fonts/fantasquesansmono/fantasquesansmono-regular.otf);
}

canvas {
	padding-top: 100px;
	padding-left: 150px;
}

.cool-text {
	font-family: Fantasque Sans Mono;
}

.navbar-wraper{
	margin-top: 20px;
}

.separator {
	border-top: 1px solid #606060;
	border-bottom: 1px solid #606060;
	margin: 3rem auto 0;
	position: relative;
	width: 90%;
	-webkit-border-radius: 3px;
}

.entry-body {
	padding: 0 2rem 0 2rem;
}

.img-padd {
	padding: 4rem 0 0 0;
}

.color{
	color: #d30000;
}

.social-media {
	cursor: pointer;
	border: 1px solid transparent;
	-webkit-border-radius: 10px;
	-webkit-transition-duration: 0.75s;
}

.footer{
	margin-top: 4rem;
	background-color: #afafaf;
	color: white;
	-webkit-border-radius: 5px;
}

a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: #d30000;
    background-color: transparent;
    text-decoration: none;
}
a:active {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

#button{
	font-family: Fantasque Sans Mono;
	position: absolute;
	top: 80%;
	left: 45%;
	background: white;
	padding: 20px;
	border: 1px solid black;
	-webkit-border-radius: 3px;
	box-shadow: 5px 5px 16px 7px rgba(0, 0, 0, 0.63);
	-webkit-transition-duration: 0.5s;
}

#button:hover{
	box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.63);
	top: 80.1%;
	cursor: pointer;
}
#button:active{
	box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.63);
	top: 81%;
	cursor: pointer;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
.fade-in {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards; 
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:2.5s;
    -moz-animation-duration:2.5s;
    animation-duration:2.5s;
}

/* =====HEXAGONAL IMAGE===== */
.hexagon {
	overflow: hidden;
	visibility: hidden;
	-webkit-transform: rotate(120deg);
	   -moz-transform: rotate(120deg);
		-ms-transform: rotate(120deg);
		 -o-transform: rotate(120deg);
			transform: rotate(120deg);
	cursor: pointer;
}
.hexagon-in1 {
	overflow: hidden;
	width: 100%;
	height: 100%;
	-webkit-transform: rotate(-60deg);
	   -moz-transform: rotate(-60deg);
		-ms-transform: rotate(-60deg);
		 -o-transform: rotate(-60deg);
			transform: rotate(-60deg);
}
.hexagon-in2 {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: 50%;
	background-image: url(http://placekitten.com/240/240);
	visibility: visible;
	-webkit-transform: rotate(-60deg);
	   -moz-transform: rotate(-60deg);
		-ms-transform: rotate(-60deg);
		 -o-transform: rotate(-60deg);
			transform: rotate(-60deg);
}

.hexagon1 {
	width: 400px;
	height: 200px;
	margin: 0 0 0 -80px;
}

.test {
	width: 36px;
	height: 36px;
	font-family: Fantasque Sans Mono;
	font-size: 36px;
	color: white;
	background: #9b0000;
	opacity: 0.75;
	padding: 1rem;
	border: 2px solid black;
	-webkit-border-radius: 10px;
}