@font-face {
	font-family: Frizz Quadrata;
	src: url(../fonts/frizzquadratatt.ttf);

}
@font-face {
	font-family: Fantasque Sans Mono;
	src: url(../fonts/fantasquesansmono/fantasquesansmono-regular.otf);
}

canvas {
	padding-top: 100px;
	padding-left: 150px;
}

#return-top {
	display: block;
	position: fixed;
	bottom: 2em;
	right: 2em;
	z-index: 10;
	padding: 0 0.5em;
	border: 1px solid black;
	border-radius: 5px;
	background-color: black;
	cursor: pointer;
}

#return-top:hover {
	background-color: red;
	-webkit-transition-duration: 0.75s;
}

.consola {
	border: 1px solid #999;
	border-radius: 4px;
	background: #f3f3f3;
	font-size: 14px;
	padding: 0.5em 0.75em;
	text-align: justify;
}

.cool-text {
	font-family: Fantasque Sans Mono;
}

.cool-img {
	border: solid 2px black;
	border-radius: 5px;
	box-shadow: 5px 5px #5d5d5d;
}

.cool-img:hover {
	border-color: #d30000;
	cursor: pointer;
	margin: 4px 0px 0px 4px;
	-webkit-transition-duration: 0.5s;
}

.cool-img:active {
	box-shadow: 3px 3px #282828;
	margin: 6px 0px 0px 6px;
	-webkit-transition-duration: 0s;
}

.separator {
	border-top: 1px solid #606060;
	border-bottom: 1px solid #606060;
	margin: 3rem auto 0;
	position: relative;
	width: 95%;
	border-radius: 5px;
}

.entry-body {
	padding: 0 2rem 0 2rem;
}

.img-entry-right {
	display: block;
	margin-left: auto;
}

.img-entry-left {
	display: block;
	margin-right: auto;
}

/*dunno it is not working correctly :S*/
.img-entry-center {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.img-padd {
	padding: 4rem 0 0 0;
}

.magic-red{
	color: #d30000;
}

.magic-blue{
	color: #009cd8;
}

.social-media {
	cursor: pointer;
	border: 1px solid transparent;
	-webkit-border-radius: 10px;
	-webkit-transition-duration: 0.5s;
}

.text-top {
	padding: 0 0 3em 0.5714em;
}

.text-middle {
	padding: 1.5em 0em;
	text-align: center;
}

.text-bottom {
	padding: 3em 0 0 0;
	text-align: right;
}


.footer {
	margin-top: 1rem;
	background-color: #afafaf;
	color: white;
	-webkit-border-radius: 5px;
}

a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: #d30000;
    background-color: transparent;
    text-decoration: none;
}
a:active {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

#button{
	font-family: Fantasque Sans Mono;
	position: absolute;
	top: 80%;
	left: 45%;
	background: white;
	padding: 20px;
	border: 1px solid black;
	-webkit-border-radius: 3px;
	box-shadow: 5px 5px 16px 7px rgba(0, 0, 0, 0.63);
	-webkit-transition-duration: 0.5s;
}

#button:hover{
	box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.63);
	top: 80.1%;
	cursor: pointer;
}
#button:active{
	box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.63);
	top: 81%;
	cursor: pointer;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
.fade-in {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards; 
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:2.5s;
    -moz-animation-duration:2.5s;
    animation-duration:2.5s;
}

/* =====HEXAGONAL IMAGE===== */
.hexagon {
	overflow: hidden;
	visibility: hidden;
	-webkit-transform: rotate(120deg);
	   -moz-transform: rotate(120deg);
		-ms-transform: rotate(120deg);
		 -o-transform: rotate(120deg);
			transform: rotate(120deg);
	cursor: pointer;
}
.hexagon-in1 {
	overflow: hidden;
	width: 100%;
	height: 100%;
	-webkit-transform: rotate(-60deg);
	   -moz-transform: rotate(-60deg);
		-ms-transform: rotate(-60deg);
		 -o-transform: rotate(-60deg);
			transform: rotate(-60deg);
}
.hexagon-in2 {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: 50%;
	background-image: url(http://placekitten.com/240/240);
	visibility: visible;
	-webkit-transform: rotate(-60deg);
	   -moz-transform: rotate(-60deg);
		-ms-transform: rotate(-60deg);
		 -o-transform: rotate(-60deg);
			transform: rotate(-60deg);
}

.hexagon1 {
	width: 400px;
	height: 200px;
	margin: 0 0 0 -80px;
}

.test {
	width: 36px;
	height: 36px;
	font-family: Fantasque Sans Mono;
	font-size: 36px;
	color: white;
	background: #9b0000;
	opacity: 0.75;
	padding: 1rem;
	border: 2px solid black;
	-webkit-border-radius: 10px;
}